@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --primary: #020c1b;
    --primary-light: #0a192f;
    --light-primary: #112240;
    --lightest-primary: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-text: #495670;
    --text: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-text: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
}

/* GENERAL SETTINGS*/
* {
    font-family: 'Merriweather', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

header {
    padding: 10px 100px;
    position: sticky;
    top: 0;
    z-index: 99;
    background: #ffffff;
}

.about-me, .contact {
    scroll-margin: 20px;

}

.portfolio, .contact {
    scroll-margin: -100px;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.about-me, .portfolio, .contact {
    background: #0F0028;
    padding: 150px 250px 0 250px;
}

.about-me {
    display: flex;
    color: var(--text);
    background: rgba(15, 0, 40, 1);
}

.about-me p {
    color: var(--text);
}

.about-me a {
    font-weight: 400;
    color: #61FED2;
    padding: 0 5px;
    border-radius: 3px;
    white-space: nowrap;
}

.about-me a:hover {
    color: #ff0062;
}

.about-me p {
    margin-bottom: 20px;
}

/*.desc-about-me-wrapper, .projects-wrapper {*/
/*    border-bottom: 1px solid var(--text);*/
/*}*/

.desc-about-me-wrapper {
    padding-bottom: 100px;

}

nav, .intro-content, .projects-wrapper {
    display: flex;
    justify-content: space-between;
}

nav {
    align-items: center;
}

/* HEADER */
.menu-items-wrapper {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.menu-item, .logo {
    color: #09003d;
    padding: 5px 10px 5px 0;
    border-bottom: 1px solid #ffffff;
}


h1, .subtitle, h2, h3, .menu-item, .logo, a.cta-button {
    letter-spacing: 0.1rem;
}

.menu-item {
    padding: 5px 20px 5px 20px;
    font-weight: 500;
    font-family: "Roboto Mono", sans-serif;
}

.logo {
    font-size: 1.3rem;
    font-weight: 700;
}

.logo:hover, .menu-item:hover {
    /*color: #ff0062;*/
    color: hsl(337, 300%, 50%);
    transition: 0.3s;
    transition-timing-function: ease-out

}

/*FIRST SECTION*/
.intro {
    background-image: url('https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-content {
    color: white;
    background: rgb(9, 0, 61);
    background: -moz-linear-gradient(90deg, rgba(15, 0, 40, 1) 30%, rgba(15, 0, 40, 0.6) 100%);
    background: -webkit-linear-gradient(90deg, rgba(15, 0, 40, 1) 30%, rgba(15, 0, 40, 0.6) 100%);
    background: linear-gradient(90deg, rgba(15, 0, 40, 1) 30%, rgba(15, 0, 40, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#09003d", endColorstr="#09003d", GradientType=1);
    height: 100%;
    padding: 0;
}

.intro-wrapper {
    width: 60%;
    padding: 80px 40px 80px 100px;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
}

h1 span {
    color: #ff0062;
    white-space: nowrap;
}

.subtitle {
    font-weight: 700;
    font-size: 3rem;
    color: #FED017;
    margin: 60px 0 40px 0
}

.desc-intro {
    line-height: 2.4rem;
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 80px;
}

a.cta-button, .btn-form {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 15px 25px;
    background: none;
    border: 2px solid #61FED2;
    border-radius: 3px;
    color: #61FED2;
}

a.cta-button {
    margin: 50px 0;
}
.btn-form {
    margin: 0px 0 50px 0;
}

a.cta-button:hover, .btn-form:hover {
    background: #61FED2;
    color: #0F0028;
    transition: 0.15s;
    transition-timing-function: ease-out;
    cursor: pointer;
}


.coding-lang-wrapper {
    background: #F1F4FF;
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.coding-lang-wrapper i {
    font-size: 5rem;
    color: #0F0028;
}

h2 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
    color: var(--lightest-text);
}

h2 span {
    color: #61FED2;
    font-family: "Ubuntu Mono", "Roboto Mono", monospace;
    font-size: 2.4rem;
    letter-spacing: 0;
    margin-right: 5px;
}

h2::after {
    content: "";
    display: inline-block;
    position: relative;
    top: -9px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--dark-text);
}

.desc-portfolio-wrapper p, .contact p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 300;
}

.desc-about-me-wrapper p {
    font-size: 1.2rem;
    line-height: 2.4rem;
    font-weight: 300;
}

.desc-about-me-wrapper p, .desc-portfolio-wrapper p, .desc-about-me-wrapper h2, .desc-portfolio-wrapper h2, .contact-wrapper {
    width: 70%;
    margin-right: 0;
}

.portfolio h2 {
    margin-bottom: 10px;
}

.desc-portfolio-wrapper p {
    margin-bottom: 80px;
    color: var(--text);

}

.projects-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
}

.project-display {
    display: flex;
    width: 100%;
    height: 450px;
    position: relative;
    margin-bottom: 150px;
}

.project-display-right {
    justify-content: flex-end;
}

.project-display-left {
    justify-content: flex-start;
}

.project-details-right, .project-details-left {
    padding: 10px;
    position: absolute;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 30;
}

.project-details-right {
    align-items: flex-end;
    text-align: right;
    right: 0;
}

.project-details-left {
    align-items: flex-start;
    text-align: left;
    left: 0;
}

.project-details i {
    font-size: 1.8rem;
    color: white;
    margin-top: 30px;
    align-self: flex-end;
}

.project-details .fa-external-link-alt {
    font-size: 1.6rem;
}

h3.project-title {
    font-size: 1.8rem;
    width: 70%;
    font-weight: 600;
    color: white;
    margin-bottom: 30px;
    margin-top: 10px;
}

.project-skills {
    margin-top: 30px;
    width: 60%;
}

.project-details {
    padding: 0;
}

.project-details-right .project-skills span {
    margin-left: 10px;
}

.project-details-left .project-skills span {
    margin-right: 10px;
}

.project-skills span, .project-type {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 0.9rem;
    color: var(--lightest-text);
}

.project-icons {
    display: flex;
    justify-content: flex-end;
}

.project-icons a {
    margin-right: 15px;
}

.project-icons i {
    color: var(--text);
}

.project-type, .project-icons i:hover, .icon:hover {
    color: #61FED2;
    transition: 0.3s;
    transition-timing-function: ease-out
}

.project-description {
    color: var(--lightest-text);
    background: #233554;
    padding: 35px 25px;
    line-height: 1.4rem;
    font-size: 1rem;
    font-family: "Roboto Mono", sans-serif;
    border-radius: 3px;
    box-shadow: 0 10px 30px -15px #000;
}

.project-link {
    width: 65%;
    z-index: 10;
}

.project-screenshot {
    object-fit: cover;
    object-position: 50% 20%;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    z-index: 10;
}

.project-screenshot-overlay {
    width: 65%;
    height: 100%;
    position: absolute;
    background: rgba(97, 254, 210, 0.3);
    z-index: 20;
}

.project-screenshot-overlay:hover {
    background: none;
    transition: 0.3s;
    transition-timing-function: ease-in;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #ffffff;
}

.contact-icons-wrapper {
    margin: 20px 0;
}

.icon {
    color: inherit;
    margin: 0 5px 0 5px;
    font-size: 3rem;
}

/*CONTACT FORM  IN FOOTER
- Added an hidden iframe to avoid opening a new window after submiting
*/


.contact-form {
    margin-top: 30px;
    min-width: 600px;
}

form input, form textarea {
    display: block;
    padding: 10px;
}

.input-text {
    margin: 10px 0 30px 0;
    width: 100%;
}

.input-email {
    width: 50%;
}

@media screen and (max-width: 1300px) {
    .intro-wrapper {
        width: 80%;
    }
}

/*BREAKPOINT 800px*/
@media screen and (max-width: 800px) {
    header {
        padding: 0;
    }

    nav {
        padding: 10px;
    }

    section {
        scroll-margin: 60px;
    }

    .logo, .menu-items {
        font-size: 1rem;
        letter-spacing: 0;
    }

    .menu-items-wrapper {
        width: 100%;
        justify-content: space-evenly;
        padding-top: 10px;

    }

    .intro-wrapper {
        padding: 50px 20px;
        width: 100%;

    }

    h1 {
        font-size: 2.6rem;
        margin: 0;
    }

    h2 {
        font-size: 2.2rem;
        line-height: 2.2rem;
    }

    h3.project-title {
        font-size: 1.8rem;
        font-weight: 700;
    }

    .subtitle {
        font-size: 2rem;
        margin: 20px 0;
    }

    .desc-intro {
        line-height: 2rem;
        font-size: 1.3rem;
        margin-bottom: 100px;
    }

    a.cta-button {
        font-size: 1.2rem;
        padding: 15px 25px;
    }

    .coding-lang-wrapper {
        padding: 50px 0;
        justify-content: space-evenly;
        align-items: center;
    }

    .coding-lang-wrapper i {
        font-size: 3rem;
    }

    .about-me, .desc-portfolio-wrapper, .contact {
        padding: 20px 20px 20px 20px;
    }

    .desc-about-me-wrapper p, .desc-portfolio-wrapper p, .contact p {
        font-size: 1.2rem;
        line-height: 2rem;
        font-weight: 400;
    }

    .projects-wrapper {
        flex-direction: column;
        margin-top: 30px;
    }

    .desc-about-me-wrapper p, .desc-portfolio-wrapper p, .desc-about-me-wrapper h2, .desc-portfolio-wrapper h2,
    .contact-wrapper, .project-display {
        width: 100%;
    }

    .contact-form {
        min-width: 90%;
    }

    .input-email {
        width: 100%;
    }

}

