@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --white: #F1F4FF;
    --primary: #0a192f;
    --primary-light: #0a192f;
    --navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-text: #495670;
    --text: #8892b0;
    --highlighted-links: #61FED2;
    --highlighted-links-secondary: #FF0062;
    --lightest-text: #ccd6f6;
}

/* GENERAL SETTINGS*/
* {
    font-family: 'Merriweather', sans-serif;
    box-sizing: border-box;
}

.highlight {
    color: var(--highlighted-links-secondary);
    font-family: "Roboto Mono", monospace;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

header {
    padding: 10px 100px;
    position: sticky;
    top: 0;
    z-index: 99;
    background: var(--white);
    box-shadow: 0px 1px 10px var(--primary);
}

.about-me, .contact {
    scroll-margin: 20px;

}

.portfolio {
    scroll-margin: -100px;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.about-me, .portfolio, .contact {
    background: var(--primary);
    padding: 150px 15% 0 15%;
}

.about-me {
    display: flex;
    color: var(--text);
}

.about-me p {
    color: var(--text);
}

.about-me a {
    font-weight: 400;
    color: #61FED2;
    padding: 0 5px;
    border-radius: 3px;
    white-space: nowrap;
}

.about-me a:hover {
    color: var(--highlighted-links-secondary);
}

.about-me p {
    margin-bottom: 20px;
}

.desc-about-me-wrapper {
    padding-bottom: 100px;
}

nav, .intro-content, .projects-wrapper {
    display: flex;
    justify-content: space-between;
}

nav {
    align-items: center;
}

/* HEADER */
.menu-mobile {
    display: none;
}

.menu-desktop {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.menu-item, .logo {
    color: var(--primary-light);
    padding: 5px 10px 5px 0;
}

h1, h2, h3, .menu-item, .logo, a.cta-button {
    letter-spacing: 0.1rem;
}

.menu-item {
    padding: 5px 20px 5px 20px;
    font-weight: 500;
    font-family: "Roboto Mono", sans-serif;
}

.logo {
    font-size: 1.3rem;
    font-weight: 700;
}

.logo:hover, .menu-item:hover {
    color: var(--highlighted-links-secondary);
    transition: 0.3s;
    transition-timing-function: ease-out;
}

/*FIRST SECTION*/
.intro {
    background-image: url('https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-content {
    color: var(--lightest-text);
    background: rgb(9, 0, 61);
    background: -moz-linear-gradient(90deg, rgba(10, 25, 47, 1) 30%, rgba(10, 25, 47, 0.6) 100%);
    background: -webkit-linear-gradient(90deg, rgba(10, 25, 47, 1) 30%, rgba(10, 25, 47, 0.6) 100%);
    background: linear-gradient(90deg, rgba(10, 25, 47, 1) 30%, rgba(10, 25, 47, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#09003d", endColorstr="#09003d", GradientType=1);
    height: 100%;
    padding: 0;
}

.intro-wrapper {
    width: 85%;
    padding: 80px 40px 110px 200px;
    height: fit-content;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
}

h1 .intro-title-small {
    color: var(--highlighted-links);
    font-size: 1.1rem;
    margin: 0 0 20px 10px;
    font-family: "Roboto Mono", sans-serif;
    display: block;
    font-weight: 400;
}

h1 .intro-title-name {
    font-size: 3.5rem;
    display: block;
    color: var(--lightest-text);
    margin-bottom: 10px;
}

h1 .intro-title-big {
    font-size: 3.5rem;
}

.highlight {
    color: var(--highlighted-links-secondary);
    font-family: 'Merriweather', sans-serif;
}

.desc-intro {
    width: 90%;
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 20px;
}

a.cta-button, .btn-form {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 15px 25px;
    border-radius: 3px;
}

a.cta-button {
    background: none;
    border: 1px solid var(--highlighted-links);
    color: var(--highlighted-links);
}

.btn-form {
    background: var(--lightest-text);
    border: 1px solid var(--primary);
    color: var(--primary);
}

a.cta-button {
    margin: 50px 0;
}

.btn-form {
    margin: 0px 0 50px 0;
}

a.cta-button:hover, .btn-form:hover {
    background: var(--highlighted-links);
    color: var(--primary-light);
    transition: 0.15s;
    transition-timing-function: ease-out;
    cursor: pointer;
}

.coding-lang-wrapper {
    background: var(--white);
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.coding-lang-wrapper i {
    font-size: 5rem;
    color: var(--primary);
}

h2 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
    color: var(--lightest-text);
}

h2 span {
    color: var(--highlighted-links);
    font-family: "Ubuntu Mono", "Roboto Mono", monospace;
    font-size: 2.4rem;
    letter-spacing: 0;
    margin-right: 5px;
}

.desc-about-me-wrapper p, .desc-portfolio-wrapper p, .contact p {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 400;
    color: var(--text);
}

.desc-about-me-wrapper p {
    font-size: 1.2rem;
    line-height: 2.4rem;
    font-weight: 300;
}

.desc-about-me-wrapper p, .desc-portfolio-wrapper p {
    width: 70%;
}

.desc-about-me-wrapper p, .desc-portfolio-wrapper p, .desc-about-me-wrapper h2, .desc-portfolio-wrapper h2, .contact-wrapper {
    margin-right: 0;
}

.portfolio h2, .about-me h2, .contact h2 {
    margin-bottom: 10px;
}

.desc-portfolio-wrapper p {
    margin-bottom: 80px;
}

.projects-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
}

.project-display {
    display: flex;
    width: 100%;
    height: 450px;
    position: relative;
    margin-bottom: 150px;
}

.project-display-right {
    justify-content: flex-end;
}

.project-display-left {
    justify-content: flex-start;
}

.project-details-right, .project-details-left {
    padding: 10px;
    position: absolute;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 30;
}

.project-details-right {
    align-items: flex-end;
    text-align: right;
    right: 0;
}

.project-details-left {
    align-items: flex-start;
    text-align: left;
    left: 0;
}

.project-details i {
    font-size: 1.8rem;
    color: white;
    margin-top: 30px;
    align-self: flex-end;
}

.project-icons i.fa-external-link-alt {
    font-size: 1.6rem;
}

.project-icons i.fa-github-square {
    font-size: 1.6rem;
}

h3.project-title {
    font-size: 1.8rem;
    width: 70%;
    font-weight: 600;
    color: white;
    margin-bottom: 30px;
    margin-top: 10px;
}

.project-skills {
    margin-top: 30px;
    width: 75%;
}

.project-details {
    padding: 0;
}

.project-skills span {
    line-height: 1.4rem;
}

.project-details-right .project-skills span {
    margin-left: 10px;
}

.project-details-left .project-skills span {
    margin-right: 10px;
}

.project-skills span, .project-type {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 0.9rem;
    color: var(--lightest-text);
}

.project-icons {
    display: flex;
    justify-content: flex-end;
}

.project-icons a {
    margin-right: 15px;
}

.project-icons i {
    color: var(--text);
}

.project-type, .project-icons i:hover, .icon:hover {
    color: var(--highlighted-links);
    transition: 0.3s;
    transition-timing-function: ease-out
}

.project-description {
    color: var(--lightest-text);
    background: var(--navy);
    padding: 35px 25px;
    line-height: 1.4rem;
    font-size: 1rem;
    font-family: "Roboto Mono", sans-serif;
    border-radius: 3px;
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
}

.project-link {
    width: 65%;
    z-index: 10;
}

.project-screenshot {
    object-fit: cover;
    object-position: 50% 20%;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    z-index: 10;
}

.project-screenshot-overlay {
    width: 65%;
    height: 100%;
    position: absolute;
    background: rgba(97, 254, 210, 0.3);
    z-index: 20;
}

.project-screenshot-overlay:hover {
    background: none;
    transition: 0.3s;
    transition-timing-function: ease-in;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-icons-wrapper {
    margin: 20px 0;
}

.icon {
    color: var(--lightest-text);
    margin: 0 5px 0 5px;
    font-size: 2.5rem;
}

/*CONTACT FORM  IN FOOTER*/
.contact-form {
    margin-top: 30px;
    min-width: 600px;
}

form input, form textarea {
    display: block;
    padding: 10px;
    border: 1px solid var(--lightest-text);
    border-radius: 1px;
    background: none;
    width: 100%;
    color: var(--lightest-text);
}

.input-text {
    margin: 10px 0 30px 0;
}

.input-email::placeholder, .input-text::placeholder {
    color: var(--text);
}

/*BREAKPOINT 1200px*/
@media screen and (max-width: 1200px) {
    .intro-wrapper {
        width: 100%;
        padding: 20px 10% 100px 10%;
    }

    .about-me, .portfolio, .contact {
        padding: 20px 10% 20px 10%;
    }

    h1 .intro-title-big, h1 .intro-title-name {
        font-size: 2.8rem;
        line-height: 2.8rem;
        margin-bottom: 0;
    }

    .about-me, .contact, .portfolio {
        scroll-margin: 0px;
    }
}

/*BREAKPOINT 992px*/
@media screen and (max-width: 992px) {
    header {
        position: fixed;
        width: 100%;
        padding: 0;
        transition: top 0.3s;
    }

    header.hidden {
        position: fixed;
        top: -100px;
        transition: top 0.3s;
    }

    nav {
        padding: 10px;
        justify-content: center;
    }

    .menu-desktop {
        display: none;
    }

    h1 {
        line-height: 2.6rem;
    }

    h1 .intro-title-small {
        font-size: 1.1rem;
        margin-bottom: 0;
    }

    h1 .intro-title-name, h1 .intro-title-big {
        font-size: 2.6rem;
    }

    h1 .intro-title-name {
        margin-bottom: 15px;
    }

    h2 {
        font-size: 2.2rem;
        line-height: 2.4rem;
    }

    h3.project-title {
        font-size: 1.8rem;
        font-weight: 700;
    }

    .project-skills {
        width: 80%;
    }

    .desc-intro {
        line-height: 1.8rem;
        font-size: 1.2rem;
        margin-bottom: 50px;
    }

    a.cta-button {
        font-size: 1.2rem;
        padding: 15px 25px;
    }

    .coding-lang-wrapper {
        padding: 50px 0;
        justify-content: space-evenly;
        align-items: center;
    }

    .coding-lang-wrapper i {
        font-size: 3rem;
    }
    .intro-wrapper{
        padding: 20px 40px 60px 40px;
    }
    .about-me, .portfolio, .contact {
        padding: 20px 40px 20px 40px;
    }

    .projects-wrapper {
        flex-direction: column;
        margin-top: 30px;
    }

    .desc-about-me-wrapper p, .desc-portfolio-wrapper p, .desc-about-me-wrapper h2, .desc-portfolio-wrapper h2,
    .contact-wrapper, .project-display {
        width: 100%;
    }

    .contact-form {
        min-width: 90%;
    }

    .input-email {
        width: 100%;
    }

    /*HAMBURGER MENU*/
    .menu-mobile {
        display: block;
    }

    .menu-btn {
        position: fixed;
        bottom: 30px;
        right: 30px;
        height: 80px;
        width: 80px;
        border-radius: 100%;
        background-color: var(--lightest-text);
        z-index: 100;
    }

    .menu-btn i {
        position: absolute;
        top: 20%;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 50px;
        font-size: 40px;
        color: var(--primary);
    }

    .menu-btn:hover {
        cursor: pointer;
    }

    .overlay {
        position: fixed;
        bottom: 50px;
        right: 50px;
        border-radius: 100%;
        background-color: var(--primary);
        transition-duration: 700ms;
        z-index: 4;
    }

    .overlay.active {
        transform: scale(100, 100);
        height: 100vh;
        width: 100vh;
    }

    .menu-items-wrapper-mobile {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: -5;
        opacity: 0;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .menu-wrapper-mobile {
        display: flex;
        flex-direction: column;
        transition-duration: 200ms;

    }

    .menu-items-wrapper-mobile.active {
        display: flex;
        transition-delay: 0ms;
        opacity: 1;
        z-index: 5;
    }

    .menu-item-mobile {
        text-align: center;
        padding: 10px;
        font-size: 2rem;
        letter-spacing: 2px;
        color: var(--lightest-text);
    }
}

@media screen and (max-width: 768px) {
    .intro-wrapper{
        padding: 20px 20px 40px 20px;
    }
    .about-me, .portfolio, .contact {
        padding: 20px 20px 20px 20px;
    }

    .desc-intro{
        width: 100%;
    }
    .portfolio::before, .contact::before {
        content: "";
        display: inline-block;
        position: relative;
        width: 100%;
        height: 1px;
        background-color: var(--dark-text);
    }

    .desc-about-me-wrapper {
        padding-bottom: 0;
    }

    .desc-portfolio-wrapper p {
        margin-bottom: 20px;
    }

    .project-display {
        display: flex;
        justify-content: center;
        position: relative;
        height: fit-content;
        margin: 12px 0;
    }

    .project-link {
        display: none;
    }

    .project-details {
        display: block;
        position: static;
        padding: 30px 15px 15px 15px;
        height: auto;
    }

    .project-skills {
        width: 100%;
    }

    .project-icons a:first-child {
        margin-right: 30px;
    }

    .project-icons i.fa-external-link-alt {
        font-size: 2.4rem;
    }

    .project-icons i.fa-github-square {
        font-size: 2.6rem;
    }

    .project-display-left, .project-display-right {
        justify-content: flex-start;
    }

    .project-details-right, .project-details-left, .project-screenshot-overlay, .project-link {
        width: 100%;
    }

    .project-details-right, .project-details-left {
        align-items: flex-start;
        text-align: left;
    }

    .project-description {
        padding: 0;
        background: none;
        box-shadow: none;
        font-size: 1rem;
        line-height: 1.4rem;
        letter-spacing: 0;
    }

    .project-details {
        background: #233554;
        box-shadow: 0 10px 30px -15px var(--navy-shadow);
    }

    .project-details-right .project-skills span, .project-details-left .project-skills span {
        margin: 0 10px 0 0;
    }

    .contact-form {
        min-width: 100%;
    }
}